* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
   
    
    /* background-repeat: no-repeat; */
}

.navbar ul {
    display: flex;
    background-color: rgba(77, 90, 102, 0.432);
    flex-direction: row;
    padding: 0px 0px;
    justify-content: center;
    height: 100px;
}
.navbar ul li{
    list-style: none;
    margin-top: 30px;
    
   
}

.navicons{
    padding: 10px 30px ;
    
    margin-left: 70px;
    text-decoration: none;
    color: white;
    border: white solid 2px;
    border-radius: 10px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.navicons:hover {
    background-color: white;
    color: black;
    box-shadow: 0 10px 20px rgba(233, 233, 156, 0.308);
}
.navicons:active {
    border-color: rgb(137, 99, 240);
    color: rgb(137, 99, 240);
    box-shadow: 0 10px 20px rgba(202, 172, 235, 0.308);
}
.header {
    height: 94vh;
    background-image: linear-gradient(to right bottom, #d0eccb6c,#50635ca6), url(img/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo-box {
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.logo {
    opacity: 0.8;
    border-radius: 100px;
    height: 70px;
    /* width: 70px; */
}

.heading-primary {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 450px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-family: cursive;
    font-weight: 600;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;
}

.btn {
    text-decoration: none;
    padding: 12px 30px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    transition: all .2s;
}
.btn:hover {
    transform: translateY(-3px);
    
}
.btn-red:hover {
    background-color: red;
    color: white;
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.527);
}
.btn-red {
    border: red solid 2px;
    border-radius: 10px;
    color: red;
}

